<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="utf-8">
    <title>Share Your Travels -- New York - Central Park</title>
    {% load static %}
    <script
            src="https://code.jquery.com/jquery-3.3.1.js"
            integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/css/style.css"/>
    <link rel="stylesheet" href="../static/django_colorbox/css/colorbox.css"/>
    <script src="../static/django_colorbox/js/jquery.colorbox-min.js"></script>
</head>
<body>
<header>
    <h1>Share Your Travels</h1>
    <h2>New York - Central Park</h2>
    <nav>
        <ul>
            <li><a href="#description">Description</a></li>
            <li><a href="#Related Photo">Related Photo</a></li>
            <li><a href="#reviews">Reviews</a></li>
        </ul>
    </nav>
</header>
<article>
    <section id="description">
        <h3>Description</h3>
        <p>Photo by Randy Connolly</p>
        <p>This photo of Conservatory Pond in
            <a href="http://www.centralpark.com/">Central Park</a> in
            <a href="newyork.html">New York City</a> was
            taken on October 22, 2011 with a Canon EOS 30D camera.
        </p>
        <figure class="central_park">
            <a href="{% static "images/large-central-park.jpg" %}"><img
                    src="{% static "images/central-park.jpg" %}" alt="Central Park"
                    title="Central Park"/></a>
            <figcaption>Conservatory Pond in Central Park</figcaption>
        </figure>
        <div class="share">
            <p>Share:</p>
            <img src="{% static "images/social/email_16.png" %}" alt=" Email this to someone"/>
            <img src="{% static "images/social/rss_16.png" %}" alt="Syndicated content"/>
            <img src="{% static "images/social/twitter_16.png" %}" alt="Share this on Twitter"/>
            </p>
        </div>

    </section>

    <section id="Related_Photo">
        <p><b>Related Photos:</b></p>
        <hr>
        <div id="related_imgs">
            <a class=="gallery" href="{% static "images/related-large1.jpg" %}">
                <img src="{% static "images/related-square1.jpg" %}" alt="Grass"/></a>
            <a class=="gallery" href="{% static "images/related-large2.jpg" %}">
                <img src="{% static "images/related-square2.jpg" %}" alt="Forest"/></a>
            <a class=="gallery" href="{% static "images/related-large3.jpg" %}">
                <img src="{% static "images/related-square3.jpg" %}" alt="Skyscraper"/></a>
        </div>
    </section>
    <section id="reviews">
        <h3>Reviews</h3>
        <div>

            <p>Ricardo on
                <time>September 15, 2012</time>
            </p>
            <p>Easy on the HDR buddy.</p>
        </div>
        <hr/>
    </section>
</article>
<footer>
    <p><em>Copyright &copy; 2013 Share Your Travels</em></p>
</footer>
</body>
</html>

<script>
    $(function () {
        "use strict";
        $('#related_imgs')
            .find('a')
            .colorbox({
                rel: 'gallery'
            });
    });
</script>

